
<!--carousel *************************************************************************-->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>


    <!--slides *************************************************************************-->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <!-- images free for personal use, not commercial gain ////////////////////////////////////-->
            <img src="images/zen1.jpg" alt="Lotus Flower" width="1200" height="700">
            <div class="carousel-caption">
                <h3>ZEN MEDITATION</h3>
                <p class="textBubble">Quiet the mind and achieve deep concentration.</p>
            </div>
        </div>

        <div class="item">
            <!-- images free for personal use, not commercial gain ////////////////////////////////////-->
            <img src="images/lotus3.jpg" alt="Lotus Flower" width="1200" height="700">
            <div class="carousel-caption">
                <h3>SOUND THERAPY</h3>
                <p class="textBubble">Use of Tibetan singing bowls, Tuning Forks, Shamanic Drumming, </p>
            </div>
        </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

