<!-- Footer ****************************************************************************************************-->
<footer class="text-center">
    <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a><br><br>
    <p>ZenTone is a fake website for a class project by Lokin Crook at <a href="http://chattahoocheetech.edu/" data-toggle="tooltip" title="Chattahoochee Tech">http://chattahoocheetech.edu/</a></p>
    <%= copyright %>
</footer>

